<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars</title>
    <link rel="stylesheet" href="css/main.css">
    
</head>
<body>

    <div class="main" id="app">

        <header>
            <h1>{{ title }}</h1>
        </header>

            <form>
                <input placeholder="Busca por nome..." v-model="searchName">
                <button type="button" @click="search()">Buscar</button>
            </form>

        <main>

            <section class="item" v-for="item of characters">
                <figure>
                    <img :src="item.avatar" :alt="item.nome">
                    <figcaption> {{ item.nome }} </figcaption>
                </figure>
                <h2>{{ item.nome }}</h2>
                <button @click="like(item.nome)" data-test="like">Like</button>
                <button @click="remove(item.id)" data-test="like">Remover</button>
            </section>

        </main>

        <small>Criado por {{ userName }} </small>
    
    </div>

    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>