<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main" id="app">

        <header>
            <h1>{{ title }}</h1>
        </header>

            <form>
                <input placeholder="Busca por nome..." v-model="searchName">
                <button type="button" @click="search()">Buscar</button>
            </form>

        <main>

            <section class="item" v-for="item of characters">
                <figure>
                    <img :src="item.avatar" :alt="item.nome">
                    <figcaption> {{ item.nome }} </figcaption>
                </figure>
                <h2>{{ item.nome }}</h2>
                <span @click="like(item.nome)" data-test="like" class="curtir material-symbols-outlined">
                    favorite
                </span>
                <span @click="remove(item.id)" data-test="like" class="remover material-symbols-outlined">
                    delete
                </span>
            </section>

        </main>

        <small>Criado por {{ userName }} </small>
    
    </div>

    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>