* {
    margin: 0;
    background-color: rgb(252, 251, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

h1 {
    display: flex;
    width: 100%;
    height: 20vh;
    margin: 0 auto;
    color: rgb(228, 253, 2);
    justify-content: center;
    margin-top: 4%;
}

section {
    margin-bottom: 5%;
}

h2 {
    color: blueviolet;
    margin-bottom: 1%;
}

/* h2:hover {
    background-color: gold;
    border: 0.5px solid black;
    transform: scale(1.4); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
} */

img {
    width: auto;
}

img:hover {
    border: 1px solid black;
    transform: scale(1.4); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

figcaption {
    color: white;
    margin-top: 1%;
}

